<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informationsvisualisering</title>
    <link rel="stylesheet" href="styles.css">
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3.5.28/dist/vue.esm-browser.js"
            },
            "integrity": {
                "https://unpkg.com/vue@3.5.28/dist/vue.esm-browser.js": "sha384-Q3gg1uvxzo7j5a5zJyKw57OkLMyOhl1sGmQxxn63S3lsr8Ki3ACSKKSvK8zG//7D"
            }
        }
    </script>
    <script src="script.js" type="module"></script>
</head>

<body>
    <div id="app">
        <h3>Svenssons Hantverk AB</h3>

        <div class="header-flex">

            <div class="month-switch">
                <button>< Previous 4 weeks</button>
                <p>April</p>
                <button>Next 4 weeks ></button>
            </div>

            <span class="icon"><img src="icons/magnifying-glass.png" alt="magnifying-glass" height="20"></span>
            <input type="text" placeholder="Sök efter medarbetare eller projekt">

            <select name="jobs" id="jobs">
                <option value="all-jobs">Visa alla yrken</option>
                <option value="carpenter">Carpenter</option>
                <option value="electrician">Electrician</option>
                <option value="mason">Mason</option>
                <option value="painter">Painter</option>
                <option value="plumber">Plumber</option>
            </select>

            <select name="months" id="months">
                <option value="month">Månad</option>
                <option value="january">Januari</option>
                <option value="february">Februari</option>
                <option value="march">Mars</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">Juni</option>
                <option value="juli">Juli</option>
                <option value="august">Augusti</option>
                <option value="september">September</option>
                <option value="october">Oktober</option>
                <option value="novmeber">November</option>
                <option value="december">December</option>
            </select>

            <button class="add-project-btn">Lägg till projekt +</button>
        </div>

        <div class="dates" v-for="date of 30">
            {{date}}
        </div>

        <div class="employee" v-for="result of jsonResults">
            <div class="employee-card">
                <p class="employee-name">{{result.name}}</p>
                <div class="professions">
                    <div class="profession" v-for="profession of result.professions">
                        <img :src="'icons/' + profession.toLowerCase() + '.png'" :alt="profession" height="18">
                        {{profession}}
                    </div>
                </div>
            </div>
            <div class="bookings">
                <div v-for="booking of result.bookings">
                    <div class="bar" :style="barStyle(booking)">
                        {{booking.activity}}
                        {{booking.percentage}}%
                    </div>
                </div>
            </div>
        </div>

        <div class="dates" v-for="date of 30">
            <div class="employee" v-for="result of jsonResults">

            </div>
        </div>
    </div>
</body>

</html>