<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informationsvisualisering</title>
    <link rel="stylesheet" href="styles.css">
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3.5.28/dist/vue.esm-browser.js"
            },
            "integrity": {
                "https://unpkg.com/vue@3.5.28/dist/vue.esm-browser.js": "sha384-Q3gg1uvxzo7j5a5zJyKw57OkLMyOhl1sGmQxxn63S3lsr8Ki3ACSKKSvK8zG//7D"
            }
        }
    </script>
    <script src="script.js" type="module"></script>
</head>

<body>
    <div id="app">
        <h3>Svenssons Hantverk AB</h3>

        <div class="header-flex">

            <div class="weeks-switch">
                <button @click="previous28Days">Previous 4 weeks</button>
                <button @click="next28Days">Next 4 weeks</button>
            </div>

            <input type="text" placeholder="Search employee">

            <select name="jobs" id="jobs">
                <option value="all-jobs">Show all occupations</option>
                <option value="carpenter">Carpenter</option>
                <option value="electrician">Electrician</option>
                <option value="mason">Mason</option>
                <option value="painter">Painter</option>
                <option value="plumber">Plumber</option>
            </select>

            <button class="add-project-btn">Add project +</button>
        </div>

        <div class="calendar-header">

            <div class="week" v-for="week in weeks">

                <!-- Vecka nummer -->
                <div class="week-title">
                    Week {{ getWeekNumber(week[0]) }}
                </div>

                <!-- Dagar -->
                <div class="week-days">
                    <div class="day-box" v-for="day in week">
                        <div>{{ parseDayOfWeek(day.getDay()) }}</div>
                        <div>{{ day.getDate() }}</div>
                    </div>
                </div>

            </div>

        </div>

        <div class="employee" v-for="result of jsonResults">
            <div class="employee-card">
                <p class="employee-name">{{result.name}}</p>
                <div class="professions">
                    <div class="profession" v-for="profession of result.professions">
                        <img :src="'icons/' + profession.toLowerCase() + '.png'" :alt="profession" height="18">
                        {{profession}}
                    </div>
                </div>
            </div>
            <div class="bookings" v-for="day of days">
                <div class="booking-section" :style="setBookingStyle(result, day)">
                    {{parseDayOfWeek(day.getDay())}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>